
@{
    ViewBag.Title = "Index";
}

<main class="p-5 flex gap-5 justify-center">
    <a href="/surgeon/search">
        <div class="card">
            Search Driver
        </div>
    </a>

    <a href="/surgeon/Rules">
        <div class="card">
            View Traffic Rules
        </div>
    </a>

    <a href="/surgeon/Report">
        <div class="card">
            Report Emergency
        </div>
    </a>

    <a href="/surgeon/History">
        <div class="card">
            History
        </div>
    </a>
</main>
