@using Project.EF;
@model List<Offence>
@{
    ViewBag.Title = "Rules";
}

<main class="p-5">
    <div class="flex mb-5">
        <h2 class="text-2xl">Rules</h2>
    </div>

    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-tl-lg">SL</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3 rounded-tr-lg">Fine</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var o in Model)
            {
                <tr class="table-row">
                    <td scope="row"
                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        1
                    </td>
                    <td class="px-6 py-4">@o.Offence_name</td>
                    <td class="px-6 py-4">@o.Fine</td>
                </tr>
            }
        </tbody>
    </table>
</main>