
@{
    ViewBag.Title = "Smart Trafic Management System";
}

<main class="flex flex-col justify-center items-center h-[90vh] gap-10">
    <div>
        <h1 class="text-4xl">Welcome To Smart Trafic Management System</h1>
    </div>
    <div class="space-x-5">
        <a href="/driver/login"><button class="btn-primary">I am a Driver</button></a>
        <a href="/surgeon/login"><button class="btn-primary">I am Surgeon</button></a>
    </div>
</main>

