
@{
    ViewBag.Title = "Not_Found";
}
<main class="mt-5">
    <div class="w-full flex justify-center items-center flex-col gap-5">
        <img src="~/Content/404.gif" width="40%" />
        <a href="/Home" class="btn-primary">Go To Home</a>
    </div>
</main>

